"hey what are you doing?"
"hello! -Kylie"
"A reminder to not leave your laptop charger in AK"
"get off of RuneScape!"
"turtlebot turtlebot turtlebot turtlebot"
"its always DNS"
"rewrite the lab docs PLEASE"
